[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flask = "*"
flask-cors = "*"
python-dateutil = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
backend = "py backend/api.py"
frontend = "py frontend/manage.py runserver"